*.db
*.opendb
*.suo
FlappyBird/x64/Debug
.vs
FlappyBird/Debug
Debug/FlappyBird.exe
*.ilk
Debug/FlappyBird.pdb
Debug/FlappyBird.exe
Debug/FlappyBird.ilk
Debug/FlappyBird.pdb
FlappyBird/Release
Release/FlappyBird.pdb
Release/FlappyBird.iobj
Release/FlappyBird.pdb
Release/FlappyBird.ipdb
Release/FlappyBird.iobj
